recursive-include maci/_native *.py
recursive-include maci/_hash *.py
recursive-include maci/_ini *.py
recursive-include maci/_json *.py
recursive-include maci/_pickle *.py
recursive-include maci/_xml *.py
exclude maci/_xml/xmldumpdict.py
exclude maci/_xml/xmldumpstrdict.py
exclude maci/_xml/xmlloaddict.py
exclude maci/_xml/xmlloadstrdict.py

include maci/__init__.py
include maci/__init__.pyi

include maci/data.py
include maci/data.pyi

include maci/error.py

include maci/hint.py
include maci/hint.pyi

include maci/py.typed
