# Cache
.cache/
*.pyc
__pycache__
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Local Only Dirs and Files
.venv/
venv/
priv_tests/
temp_old/
main.py
test_perf*

# Local Tools
const_test.cmd
