# Test Env Reqs
pytest==7.3.2
mypy==1.4.1
coverage==7.2.7
setuptools==75.3.2

# Sec Test Reqs
bandit
safety==2.3.5

# Lib Reqs
pyyaml>=5.4.0 # py37-39 not affected by cython bug, but py310+ require pyyaml>=6.01
tomli==2.0.1
tomli-w==1.0.0
xmltodict==0.13
defusedxml>=0.7.1
